/* TABLE OF CONTENTS

- NAVIGATION BAR
- FOOTER
- portfolio
- IMAGE HOVER

*/
/* NAVIGATION BAR */
/* Larger than tablet */
@media (min-width: 750px) {

  /* Navbar */
  .navbar+.docs-section {
    border-top-width: 0;
    position: fixed;
  }

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #F2DCDA;
    z-index: 99;
    border-top: 1px solid #F26457;
    border-bottom: 1px solid #F26457;
    position: fixed;
  }

  .navbar-spacer {
    display: none;
  }

  .navbar>.container {
    width: 100%;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }

  .java {
    display: none;
  }

  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #F26457;
  }

  .navbar-link.active {
    color: #F26457;
  }

  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .has-docked-nav .navbar-spacer {
    display: block;
  }

  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar>.container {
    width: 80%;
  }
}

/*    Navbar mobile*/
@media only screen and (max-width: 749px) {
  .navbar+.docs-section {
    border-top-width: 0;
    position: fixed;
  }

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #F2DCDA;
    z-index: 99;
    border-top: 1px solid #F26457;
    border-bottom: 1px solid #F26457;
    position: fixed;
    overflow: scroll;
  }

  .navbar-spacer {
    display: none;
  }

  .navbar>.container {
    width: 100%;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }

  .java {
    display: none;
  }

  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
  }

  .navbar-link {
    text-transform: uppercase;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 6.5rem;
    color: #F26457;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1rem;
  }

  .navbar-link.active {
    color: #F26457;
  }

  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .has-docked-nav .navbar-spacer {
    display: block;
  }

  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar>.container {
    width: 80%;
  }
}
img {
  width: -moz-available;
}
/* portfolio */
#soft {
  border-radius: 10px;
}

/* image hover */
.hover_img a {
  position: relative;
}

.hover_img a span {
  position: absolute;
  display: none;
  z-index: 999;
} 

.hover_img a:hover span {
  display: block;
}

/* FOOTER DEELIOOS*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}
