@import url(fonts.css);

:root {
    --font-body-family: 'Satoshi-Regular', "mondwestregular", sans-serif;
    --font-accent: "VT323", monospace;
    --font-heading-family: 'Sligoil-Micro', Georgia, 'Times New Roman', Times, serif;
    --color-background: #fffff;
    --color-set-a-1: #251D10;
    --color-set-a-2: #3C742C;
    --color-set-a-3: #A090FF;
    --color-set-a-4: #F8E201;

    --color-accent-1: #B9B26F;
    --color-accent-2: #C9CCD4;
    --color-accent-3: #F2EEEA;

    --color-set-b-1: #556169;
    --color-set-b-2: #B9B26F;
    --color-set-b-3: #EDFD34;
    --color-set-c-1: #FCF5D9;
    --color-set-c-2: #364EA0;
    --color-set-c-3: #4AA8FF;
}

body {
    background-color: var(--color-background);
}

h1 {
    font-family: var(--font-heading-family);
    color: var(--color-set-a-1);
    font-weight: 400;
    font-size: min(max(3rem, calc(3rem + ((1vw - 0.234375rem) * 8.5333))), 6.8rem);
    min-height: 0vw;
    margin-bottom: 0;
}

h2 {
    font-family: var(--font-heading-family);
    font-size: min(max(2rem, calc(2rem + ((1vw - 0.234375rem) * 8.5333))), 4rem);
    min-height: 0vw;
}

body,
p {
    font-family: var(--font-body-family);
    color: var(--color-set-a-1);
}

a {
    color: var(--color-set-a-1);
    text-decoration: none;
}

a:hover {
    color: var(--color-set-a-2);
}

.home {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.home .pop-up {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    background-color: var(--color-set-a-2);
}

.home .pop-up p {
    color: var(--color-set-a-1);
    font-family: var(--font-accent);
    padding: 0 1rem .5rem;
}

.home .pop-up img {
    max-width: 25em;
}

.pop-up .top-bar {
    border-bottom: 1px solid var(--color-set-a-1);
    display: flex;
    justify-content: end;
}

.pop-up button {
    background-color: var(--color-set-a-2);
    color: var(--color-set-a-1);
    border: 1px solid transparent;
    cursor: pointer;
    font-family: var(--font-accent);
    font-size: 1.5em;
    padding: 0 .34rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pop-up button:hover {
    border: 1px solid var(--color-set-a-1);
}

.intro {
    max-width: 39%;
}

ul.home-nav {
    list-style-image: url(../images/icons/ghost.svg);
    font-size: 3rem;
}

ul.home-nav li:hover {
    list-style-image: url(../images/icons/ghost_green.svg);
}

ul.home-nav li {
    line-height: 0.5em;
    margin-bottom: 1.5rem;
}

.home .small {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.157rem;
}

@media screen and (max-width: 669px) {
    .home {
        flex-direction: column;
    }

    .intro {
        max-width: 99%;
    }

    h1 {
        font-size: 5rem;
    }
}

/* workpage */
.workpage {
    margin: 0;
    color: var(--color-set-a-2);
}

.workpage p,
.workpage a {
    color: var(--color-set-a-2);
}

.workpage a:hover {
    color: var(--color-set-a-4);
}

.workpage h2 {
    font-family: var(--font-heading-family);
    text-transform: uppercase;
    font-size: 3rem;
    padding-left: 10px;
}

ul.work.row {
    list-style: none;
}

.work span {
    display: none;
}

b.work {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.work strong {
    font-weight: 200;
    letter-spacing: 0.082em;
    text-transform: uppercase;
    font-size: 0.688em;
}

.hover_img a:hover span {
    display: block;
    position: absolute;
    transform: translate(50%, -50%);
}

.hover_img a:hover span img {
    box-shadow: 10px 14px 15px 0px var(--color-set-a-3);
}

ul.work.row li.type {
    max-width: 30em;
    display: inline-grid;
    margin: 2rem;
}

.workpage footer {
    padding: 1rem;
    text-transform: uppercase;
}

@media screen and (max-width: 520px) {
    ul.work.row {
        grid-template-columns: auto;
    }

    nav ul {
        padding-left: 0;
    }
}

/* shop page */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 1em;
}

.pagedetails {
    margin: 1em;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.product img {
    width: 100%;
    border: 1px solid var(--color-accent-1);
}

.product img:hover {
    transform: rotate(4deg);
}

.product .product_title {
    font-size: 1.4em;
    padding: 1rem;
    text-align: center;
}

.shopcontainer {
    display: flex;
}

/* filtering */
.filter {
    display: flex;
    width: 11em;
    flex-direction: column;
    flex-shrink: 0;
    border: 1px dashed black;
    height: 100%;
    padding: 1em 0;
    margin: .5rem;
    position: sticky;
    top: 1em;
}

.filter button {
    font-family: var(--font-body-family);
    background: none;
    color: var(--color-set-a-1);
    border: none;
    width: auto;
    margin: 0;
    padding: .4rem 0;
    overflow: hidden;
    cursor: pointer;
}

/* filter styling and display toggle styling */
.filterDiv {
    display: none;
}

.show {
    animation: smooth 2s ease;
}

.shop .show {
    display: inline-flex;
}

.none {
    display: none;
}

@keyframes smooth {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 
filter marquee effect */
.horanim {
    transition: 1s ease;
}

.filter button:hover .horanim {
    -moz-transform: translateX(5%);
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
    -moz-animation: back-and-forth 2s linear both infinite alternate;
    -webkit-animation: back-and-forth 2s linear both infinite alternate;
    animation: back-and-forth 2s linear both infinite alternate;
}

@-moz-keyframes back-and-forth {
    from {
        transform: translateX(-5%)
    }

    to {
        transform: translateX(5%)
    }
}

@keyframes back-and-forth {
    from {
        transform: translateX(-5%)
    }

    to {
        transform: translateX(5%)
    }
}

.product.cart-button p {
    width: fit-content;
    align-self: center;
    display: inline-flex;
    background-color: var(--color-background);
    border: 1px solid var(--color-set-a-1);
    padding: 1em;
    text-transform: uppercase;
    font-family: var(--font-body-family);
}

a.product .product_title:hover,
.product a:hover,
a.product:hover span {
    color: var(--color-set-c-3) !important;
}

.soldout.product.cart-button:hover p {
    color: var(--color-accent-2);
    text-decoration: line-through;
    background-color: var(--color-background);
    border: 1px solid var(--color-accent-2);
    box-shadow: .25rem .25rem var(--color-set-b-1);
}

.product.cart-button:hover p {
    color: var(--color-set-b-3);
    background-color: var(--color-set-c-3);
    transform: translate(-.25rem, -.25rem);
    box-shadow: .25rem .25rem var(--color-set-c-2);
    border: 1px solid var(--color-set-b-3);
}

#ProductIframePage-react-component-6994e5d4-91ce-4ef3-9df0-beb2fc7c9b29 main {
    max-width: 50%;
}

.widget .overlay iframe {
    max-width: 50em !important;
}

footer.shop span,
footer.shop a {
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 0.088em;
    color: var(--color-set-a-1);
}

footer.shop a:hover {
    color: var(--color-accent-2);
}

@media screen and (max-width: 669px) {
    .shop .product {
        min-width: 100px;
        max-width: 100%;
    }
}

/* painting page */
.product summary {
    font-family: var(--font-heading-family);
    font-size: 2em;
    padding: 1rem;
}

/* keep on bottom */
html {
	visibility: visible;
	opacity: 1;
}